    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Layout Copyright © Leno - Mobile App HTML Landing Page Template by <a href="https://landingrepo.com">Landingrepo</a></p>
                    <p class="p-small">LIAM  the app Copyright  <a href="https://dicemediagroup.com">Dice Media Group</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
